# The-Odds-API credentials
THE_ODDS_API_KEY=your_odds_api_key_here

# Google Cloud Storage
GCP_BUCKET_NAME=your_gcs_bucket_name_here

# GCP
GOOGLE_APPLICATION_CREDENTIALS=path/to/your/service-account-key.json
